# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
演示视频.mp4
app_get_client_1_同步文件夹
app_get_client_同步文件夹
app_send_client_同步文件夹
save_file